body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
}
.image-box img {
  width: 20%;
}

i {
  cursor: pointer;
}

.change-img,
.dot-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.change-img img {
  margin: 0 30px 15px;
}
.dot-box i {
  margin-right: 10px;
  margin-bottom: 50px;
  color: rgb(66, 66, 66);
}
.dot-box i:last-child {
  margin-right: 0;
}
